# ===========================
# Python general
# ===========================
__pycache__/
*.py[cod]
*.so
*.pyd

# ===========================
# Virtual environments
# ===========================
.venv/
trading_env/

# ===========================
# Jupyter Notebooks
# ===========================


# ===========================
# Logs & configs
# ===========================
*.log
*.tmp
*.DS_Store
*.idea/
.vscode/

# ===========================
# Data files (large)
# ===========================
*.parquet
*.csv
*.tsv
*.h5
*.pkl
*.npz
*.npy
*.db

# ===========================
# Model binaries / artifacts
# ===========================
*.pt
*.pth
*.onnx
*.joblib
*.sav
*.model
*.ckpt

# ===========================
# Build / packaging
# ===========================
build/
dist/
*.egg-info/
